@import 'settings';

.center-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.top-nav {
	background-color: #5eb4ed;
	color: #FFF;	
	margin-bottom: 3%;
}


.row {
	.column, .columns {
		.row {
			padding: 8px;
			.columns, .columns{
				div{
					span { padding-top: 5%; }
				}
			}
		}
		ul{
			li {
				a { color: #FFF; }
			}
		}
	}
}

.login {
	display: inline-flex;
	margin-top: 1rem;	
}

.message {
	padding: .5rem;
	border-radius: 10px;
	color: #FFF;

	&.self { 
		background-color: #5eb4ed; 
		text-align: right;
	}

	&.sender { 
		background-color: #71DD6E;	
		text-align: left;
	}

	&.con { 
		color: #888888; 
		font-style: italic;
	}

}

.username{
	font-size: .9rem;
	color: #888888; 
	padding: .9rem;
}

#convo{
	overflow: auto;
	padding: 1rem;
	height: 80%;
	margin-bottom: 1.5rem;
	border: 1px solid #888888;
	box-shadow: 10px 10px 5px #888888;
}


.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.top-margin { margin-top: 1rem; }

.border {
	&.red { border: 1px solid red } 
	&.black { border: 1px solid black }
	&.blue { border: 1px solid blue }
}