@(username: String)(implicit messages: Messages, flash: Flash, request: RequestHeader, wja: WebJarAssets)

@template(){
	
	<div class="row expanded top-margin">

		<div class="small-4 columns">

		</div> <!-- end of column -->
	
		<div class="small-8 columns">
			<div id="convo">
					
			</div>
			<form>
				<input type="hidden" name="username" id="username" value="@username">
				<label>
					<textarea id="msg" name="message"> </textarea>
				</label>
				<button id="send" type="submit" class="button">Send</button>
			</form>
		</div> <!-- end of column -->
	</div> <!-- end of container -->

}{
		
	<input type="hidden" id="loggedUser" value="@request.session.get("username")">

	<script type="text/javascript">
		var ws = new WebSocket('@routes.GirlController.ws.webSocketURL')

		ws.onopen= function(e){
			console.log("socket connect established");
		};

		ws.onmessage = function( data ){
			console.log( data );

			var data = JSON.parse(data.data);
			var text = data.message;
			var loggedUser = $( '#loggedUser' ).val();


			if(data.type != "con") {
				if( data.username != loggedUser) {
					$( '#convo' ).append( '<p align="left">' + '<span class="username">' + data.username + '</span>' + '<span class="message sender"> ' + text + '</span>' + '</p>'  )
				} else {
					$( '#convo' ).append( '<p align="right">' + '</span>' + '<span class="message self">' + text + '</span>' + '<span class="username">' + data.username + '</p>' )
				}
			} else {
				$( '#convo' ).append( '<p class="message con">' + text + '</p>' )
			}

			$( '#convo' ).animate({
				scrollTop: $( '#convo' ).get( 0 ).scrollHeight }, 2000 );
		};

		$( document ).ready( function(){
			$( '#send' ).click( function( e ){
				e.preventDefault();
				var message = $( '#msg' ).val();
				var username = $( '#username' ).val();

				var data = {
					"message": message,
					"username": username,
					"type": "message"
				}

				ws.send((JSON.stringify(data)));
			});
		});
	</script>

}
