@(username: String)(implicit messages: Messages, flash: Flash, request: RequestHeader, wja: WebJarAssets)

@template(){
	
	<div class="row expanded top-margin">
		<div class="small-6 columns">
			<div class="border black">
				<div id="convo" style="height: 750px">
					
				</div>
			</div>
		</div> <!-- end of column -->

		<div class="small-6 columns">
			<form>
				<input type="hidden" name="username" id="username" value="@username">
				<label>
					<textarea id="msg" name="message"> </textarea>
				</label>
				<button id="send" type="submit" class="button">Send</button>
			</form>
		</div> <!-- end of column -->

	</div> <!-- end of container -->



}{

	<script type="text/javascript">
		var ws = new WebSocket('@routes.GirlController.ws.webSocketURL')

		ws.onopen= function(e){
			console.log("socket connect established");
		};

		ws.onmessage = function( data ){
			console.log( data.data );
			$( "#convo" ).append( '<p align=left>' + data.data + '</p>' )
				$('#convo').animate({
					scrollTop: $( '#convo' ).get( 0 ).scrollHeight }, 2000 );
			};

		$(document).ready(function(){
			$( '#send' ).click(function( e ){
				e.preventDefault();
				var username = $( '#username' ).val();
				var message = $( '#msg' ).val();
				ws.send( username + ": " + message);
			});
		});
	</script>

}