@(header: Html = Html(""))(content: Html)(footer: Html = Html(""))(implicit request: RequestHeader, wja: WebJarAssets)

  <link href="@routes.Assets.versioned("styles/global.css")" rel="stylesheet">
  <link href="@routes.Assets.versioned("styles/main.css")" rel="stylesheet">
  <link href="@routes.Assets.versioned("styles/main2.css")" rel="stylesheet">
<!DOCTYPE html>
<html>
<head>
	<title></title>
	@header
</head>
<body>
	<section>
		@content
	</section>
	<script src='@routes.WebJarAssets.at(wja.fullPath("jquery", "jquery.min.js"))'></script>
	@footer
</body>
</html>
